.inputter__flex {
  margin: 30px;
  flex-wrap: wrap;
  width: 420px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-container {
  background-color: inherit;
  font-size: 2rem;
  text-align: center;
  color: aliceblue;
}

.num-button__flex {
  vertical-align: middle;
  width: 138px;
  height: 24%;
  line-height: 100%;
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.submit-button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: #2c3e50;
  font-family: fantasy;
}

.submit-button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.spread-effect {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.spread-effect:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.fantasy-font__2_3rem {
  font-size: 2.3rem;
  font-family: fantasy;
  color: #2c3e50;
}
